<cds-table-container>
  <!-- cds header Nơi thay đổi header -->
  <cds-table-header>
    <div>
      <h4 cdsTableHeaderTitle>{{ title }}</h4>
      <p cdsTableHeaderDescription>{{ description }}</p>
    </div>
    <!-- thêm giá trị mới cho bản = button below -->
    <cds-button-set>
      <button cdsButton="primary" (click)="addNewData()">
        Click here to add more
      </button>
    </cds-button-set>
  </cds-table-header>
  <!-- Thanh công cụ (search), (filter),.... -->

  <cds-table-toolbar [model]="model" [batchText]="batchText" #toolbar>
    <!-- thêm event (change cho cds-table-toolbar-actions) -->
    <cds-table-toolbar-actions >
      <button cdsButton="primary">
        Delete
        <svg cdsIcon="delete" size="16" class="cds--btn__icon"></svg>
      </button>
            <button cdsButton="primary">
        Save
        <svg cdsIcon="save" size="16" class="cds--btn__icon"></svg>
      </button>
      <button cdsButton="primary">
        Download
        <svg cdsIcon="download" size="16" class="cds--btn__icon"></svg>
      </button>
    </cds-table-toolbar-actions>
    <cds-table-toolbar-content *ngIf="!toolbar.selected">
      <cds-table-toolbar-search
        [expandable]="true"
        (valueChange)="filterNodeNames($event)"
        (clear)="filterNodeNames('')"
      ></cds-table-toolbar-search>
      <cds-date-picker (valueChange)="onDateChange($event)">
        <cds-date-picker-input
          label="Filter by Date"
          placeholder="mm/dd/yyyy"
          (valueChange)="onDateChange($event)"
        ></cds-date-picker-input>
      </cds-date-picker>
      <button cdsButton="primary" size="sm">
        Primary button
        <svg cdsIcon="add" size="20" class="cds--btn__icon"></svg>
      </button>
    </cds-table-toolbar-content>
  </cds-table-toolbar>

    <cds-table
      [model]="model"
      [size]="'xl'"
      [showSelectionColumn]="true"
      [enableSingleSelect]="false"
      [striped]="false"
      [sortable]="true"
      [isDataGrid]="true"
      [stickyHeader]="true"
      [skeleton]="false"
    >
    </cds-table>

</cds-table-container> 
