<cds-table-container>
  <cds-table-header>
    <div>
      <h4 cdsTableHeaderTitle>{{ title }}</h4>
      <p cdsTableHeaderDescription>{{ description }}</p>
    </div>
    <cds-button-set>
      <button cdsButton="primary" (click)="addNewData()">
        Click here to add more
      </button>
    </cds-button-set>
  </cds-table-header>
  <cds-table-toolbar [model]="model" [batchText]="batchText" #toolbar>
    <cds-table-toolbar-actions *ngIf="toolbar.selected">
      <button cdsButton="danger" (click)="deleteSelected()">
        Delete
        <svg cdsIcon="delete" size="16" class="cds--btn__icon"></svg>
      </button>
      <button cdsButton="primary" (click)="saveSelected()">
        Save
        <svg cdsIcon="save" size="16" class="cds--btn__icon"></svg>
      </button>
      <button cdsButton="primary" (click)="downloadSelected()">
        Download
        <svg cdsIcon="download" size="16" class="cds--btn__icon"></svg>
      </button>
    </cds-table-toolbar-actions>

    <cds-table-toolbar-content *ngIf="!toolbar.selected">
      <cds-table-toolbar-search
        [expandable]="true"
        (valueChange)="filterNodeNames($event)"
        (clear)="filterNodeNames(null)" ></cds-table-toolbar-search>

      <cds-date-picker
         dateFormat="Y-m-d"  (valueChange)="onDateChange($event)"
         style="margin-left: 1rem;" >
        <cds-date-picker-input
          label="Filter by Date"
          placeholder="yyyy-mm-dd" ></cds-date-picker-input>
      </cds-date-picker>

      </cds-table-toolbar-content>
  </cds-table-toolbar>

    <cds-table
      [model]="model"
      [size]="'xl'"
      [showSelectionColumn]="true"
      [enableSingleSelect]="false"
      [striped]="false"
      [sortable]="true"
      [isDataGrid]="true"
      [stickyHeader]="true"
      [skeleton]="false"
    >
      </cds-table>

</cds-table-container>