<cds-modal [open]="open" (overlaySelected)="closeModal()">
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading>{{ mode === 'add' ? 'add' : 'edit' }} Todo Item</h3>
  </cds-modal-header>

  <section cdsModalBody>
    <form [formGroup]="taskForm" (ngSubmit)="onAddTask()">
      <div class="form-group">
        <label for="taskName">Task Name</label>
        <input
          id="taskName"
          type="text"
          class="cds--text-input"
          formControlName="name"
          placeholder="Enter task name"
          [class.cds--text-input--invalid]="taskForm.get('name')!.touched && taskForm.get('name')!.invalid"
        />
        <div
          *ngIf="taskForm.get('name')!.touched && taskForm.get('name')!.invalid"
          class="cds--form-requirement"
        >
          {{ taskForm.get('name')?.errors?.['required']?.message || taskForm.get('name')?.errors?.['minLength']?.message || 'Tên chỉ chứa chữ cái, số và khoảng trắng' }}
        </div>
      </div>

      <div class="form-group">
        <label for="taskStatus">Status</label>
        <select
          id="taskStatus"
          class="cds--select-input"
          formControlName="status"
          [class.cds--select-input--invalid]="taskForm.get('status')!.touched && taskForm.get('status')!.invalid"
        >
          <option value="pending">Pending</option>
          <option value="processing">Processing</option>
          <option value="done">Done</option>
        </select>
        <div
          *ngIf="taskForm.get('status')!.touched && taskForm.get('status')!.invalid"
          class="cds--form-requirement"
        >
          {{ taskForm.get('status')?.errors?.['required']?.message }}
        </div>
      </div>

      <div class="form-group">
        <label for="taskDate">Date</label>
        <cds-date-picker
          dateFormat="Y-m-d"
          (valueChange)="onDateChange($event)"
        >
          <cds-date-picker-input
            id="taskDate"
            placeholder="yyyy-mm-dd"
            formControlName="date"
            [class.cds--date-picker__input--invalid]="taskForm.get('date')!.touched && taskForm.get('date')!.invalid"
          ></cds-date-picker-input>
        </cds-date-picker>
        <div
          *ngIf="taskForm.get('date')!.touched && taskForm.get('date')!.invalid"
          class="cds--form-requirement"
        >
          {{ taskForm.get('date')?.errors?.['required']?.message || taskForm.get('date')?.errors?.['pastDate']?.message || 'Ngày không hợp lệ' }}
        </div>
      </div>

      <cds-modal-footer>
        <button cdsButton="ghost" type="button" (click)="closeModal()">Cancel</button>
        <button cdsButton="primary" type="submit" [disabled]="taskForm.invalid">
          {{ mode === 'add' ? 'Add Task' : 'Save Task' }}
        </button>
      </cds-modal-footer>
    </form>
  </section>
</cds-modal>