<h1>Day 6: ATTRIBUTE DIRECTIVE</h1>
<h3>ATTRIBUTE là gì ?</h3>
<br>
<p>- Là dạng dạng dircetive dùng để thay đổi hành vi hoặc cách hiển thị của một {{label1}} <br>
  DOM, một component hoặc là 1 derective khác mà không làm thay đổi cấu trúc của nó</p>
<br><strong>Lưu ý: </strong>
<br>
<p>- Điều này khác với bài 5: Structural Directive (như *ngIf, *ngFor) nó vốn dĩ thay đổi cấu trúc của DOM</p>
<br>
<p> <strong>* Mục tiêu chính</strong>: Điều chỉnh giao diện (style) hoặc hành vi dựa trên dữ liệu động trong ứng dụng.
</p>
<p>Ví dụ built-in: Angular cung cấp hai Attribute Directive phổ biến là [class] và [style].</p>

<h3> 2 Directive chính: [class] và [style]</h3>
<h4>Thêm/xóa class: Dựa trên điều kiện logic trong component.
  Áp dụng style động: Thay đổi thuộc tính CSS của phần tử dựa trên dữ liệu.</h4>
<p>2.1: Sử dụng [class]</p>

Cú pháp: <br><br>
<pre>[class.ten-class]="bieu_thuc".</pre><br>
Cách hoạt động: Nếu biểu thức trả về true, class được thêm vào phần tử; nếu false, class bị xóa.
<br><br>
<p>Ví dụ cụ thể</p> <br>
<pre>HTML: {{label2}}</pre>
<br>
<pre>TypeScript: {{label3}}  </pre>

<p> Kết quả khi giá trị isActive = true => phần tử sẽ có class Active
  (ví dụ: {{label4}}, ngược lại thì không)
</p>
<p> Sử dụng [class] trong Angular 18</p>
<ul>
  <li *ngFor="let task of tasks" [class.completed]="task.completed" tabindex="0" (click)="toggleTaskCompletion(task.id)"
    (keyup)="handleKeyUp($event, task.id)">
    {{task.name}} - {{task.completed}}</li>
</ul> <br>
<!-- Thêm tabindex để phần tử có thể focus -->
<p> Sử dụng [style] trong Angular 18</p>
<div
  [ngStyle]="{'background-color': isActive ? 'green' : 'red', 'margin': isActive ? '20px' : '50px', 'padding': isActive ? '2%': 'none'}">
  Hello Word!!!
</div>
<br>
<div [style.width.%]="progress">Thanh tiến trình</div>

<h3>Kết luận</h3>
<p>
  Day 6 giới thiệu cách sử dụng [class] và [style] để điều chỉnh giao diện một cách linh hoạt trong Angular. Đây là công
  cụ mạnh mẽ để xử lý các tình huống cần thay đổi giao diện dựa trên dữ liệu động, như tab, thanh tiến trình, hoặc trạng
  thái của ứng dụng. Với ví dụ cụ thể và các trường hợp áp dụng, bạn có thể dễ dàng triển khai chúng trong dự án thực tế
  để tạo ra giao diện đẹp mắt và phản hồi nhanh chóng với người dùng.</p>
