cds-header {
  display: flex;
  align-items: center;
}

cds-header-navigation {
  display: flex;
  flex: 1;
}

cds-header-item {
  margin-right: 1rem;
}
cds-sidenav {
  margin-top: 47px;
}

.custom-hamburger {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative; /* Đảm bảo z-index hoạt động */
  z-index: 1000; /* Đặt z-index cao hơn để đảm bảo nó nằm trên các phần tử khác */

  .cds--header__menu-trigger {
    background: none;
    border: none;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    &:hover {
      background-color: var(--cds-ui-02, #e0e0e0);
    }

    &:focus {
      outline: 2px solid var(--cds-focus, #0f62fe);
      outline-offset: -2px;
    }
  }

  &.active {
    .cds--header__menu-trigger {
      background-color: var(--cds-ui-03, #dcdcdc);
    }
  }
}

// Điều chỉnh hiển thị sidenav
.cds--header__menu-toggle__hidden {
  display: none;
  z-index: 1000;

  @media (max-width: 1055px) {
    display: block;
  }
}

/* CSS cho overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu đen với opacity 0.5 */
  z-index: 999; /* Dưới hamburger và sidenav */
}