<div class="form-img">
  <div class="form-login">
    <div class="form-changecolor">
      <div class="form-header">
        <!-- Form Header -->
        <h2>Log In</h2>
      </div>
      <br>
      <div class="form-creat">
        <!-- Form Create Account -->
        <p>
          Don't have an account?
          <a href="#">Create an IBMid</a>
        </p>
      </div>
      <br>
      <form class="form-input" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Form for user Input the account -->
        <cds-text-label [invalid]="isEmailInvalid" [invalidText]="emailInvalidText">
          IBMid
          <a href="#">Forgot ID?</a>
          <input cdsText type="text" placeholder="Example: username@ibm.com" formControlName="email" />
        </cds-text-label>
        <br>
        <cds-text-label [invalid]="isPasswordInvalid" [invalidText]="passwordInvalidText">
          Password
          <input cdsText type="password" placeholder="Enter your password" formControlName="password">
        </cds-text-label>
        <br>
        <div class="form-checkbox">
          <!-- Form for User Check the box to remember ID -->
          <cds-checkbox>
            Remember ID <ng-icon name="typInfoLarge" style="padding-top: 2px"></ng-icon>
          </cds-checkbox>
        </div>
        <br>
        <div class="form-button">
          <!-- Form for btn -->
          <cds-button-set>
            <button cdsButton="ghost">
              Log in with Softlayer
            </button>
            <button cdsButton="primary" [disabled]="disabled">
              Continue
              <ng-icon name="typArrowRightThick"></ng-icon>
            </button>
          </cds-button-set>
        </div>
      </form>
    </div>
    <div class="form-contact">
      Need help? <a href="#">Contact the IBM help desk</a>
    </div>
  </div>
</div>

<!-- Thêm NotificationComponent để hiển thị thông báo -->
<app-notification></app-notification>