::ng-deep .cds--label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

::ng-deep .cds--btn-set {
  /* Loại bỏ giới hạn chiều rộng */
  width: 100%;
  display: flex;
  gap: 10px;
}

::ng-deep .cds--btn-set > .cds--btn {
  max-inline-size: none !important;
  flex: 1;
  min-width: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

::ng-deep .cds--btn-set > .cds--btn > .cds--btn__icon {
  margin-left: 8px; /* Khoảng cách giữa chữ và icon */
  display: flex;
  align-items: center;
  font-size: 20px; /* Adjust icon size */
}
.form-changecolor{
  background-color: #FEF9DB;
}

.form-header{
  padding-left: 20px;
  padding-right: 20px;
}

.form-creat{
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.form-checkbox{
  padding: 0 20px;
}

.form-contact {
  color: beige;
  font-size: 12px;
  margin-top: 25px;
  padding: 0 20px;
  background-color: transparent;
}

.form-img {

  background-image: url('../../../assets/img/0712161468303244.jpg'); // Đường dẫn đến hình ảnh
  background-size: cover; // Đảm bảo hình ảnh phủ kín phần tử
  background-position: center; // Căn giữa hình ảnh
  background-repeat: no-repeat; // Không lặp lại hình ảnh
  width: 100vw; // Full width of the viewport
  height: 100vh; // Full height of the viewport
  overflow: hidden; // Prevent scrollbars if content overflows
}

.form-login{
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
   // align-items: center; // Center content horizontally
  max-width: 600px;
  min-height: 100vh;

}
