.home{
  margin: auto;
  padding: 0;
  text-align: center;
}
.listing {
  padding: 20px;
}
.listing-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.listing-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listing-photo {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
}
h1 {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 50px;
}
